@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1 class="text-danger">Error.</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <p class="text-danger">An error occurred while processing your request.</p>
    }
    else
    {
        <p class="text-danger">@ViewBag.errorMessage</p>
    }
}

